---
title: "Battlestation"
layout: post
date: 2015-04-10 00:00:00
---

<p>
    <a href="/img/full-view.jpg"><img alt="computer desk, chair, monitor, and assorted other items" src="/img/full-view.jpg" /></a>
    <br /><i>Click for full size</i>
</p>

<p>
    I've spent the last 6 months or so upgrading bits and pieces to get where I'm happy
    with my setup for a good little while. This clean and (mostly) tidy configuration
    is small, but don't let its looks fool you -- this is a power house of functionality.
</p>

<p>Let's take a look at what's in here:</p>

<ul>
    <li><a href="http://www.newegg.com/Product/Product.aspx?Item=N82E16824009742">Acer XB270HU</a> -- Unbelievable. 144hz, gsync, ips, huge res. Just...amazing.</li>
    <li><a href="http://www.amazon.com/Corsair-Obsidian-250D-Mini-CC-9011047-WW/dp/B00HFRTF5W">Corsair Obsidian 250D Mini ITX Case</a></li>
    <li><a href="http://www.newegg.com/Product/Product.aspx?Item=N82E16813132039">Asus Maximus VI Impact Mini-ITX motherboard</a></li>
    <li><a href="http://www.newegg.com/Product/Product.aspx?Item=N82E16819117369">Intel i7-4790k (4ghz, quad core)</a></li>
    <li><a href="http://www.newegg.com/Product/Product.aspx?Item=N82E16814487077">EVGA 970 FTW</a></li>
    <li><a href="http://www.newegg.com/Product/Product.aspx?Item=N82E16820313447">16GB Ram</a></li>
    <li><a href="http://www.amazon.com/gp/product/B00KYK1CKI/ref=oh_aui_detailpage_o07_s00?ie=UTF8&psc=1">EVGA 1200 watt powersupply</a> -- Overkill, by far, by I wanted to keep it quiet and in the high efficiency range</li>
    <li><a href="http://www.amazon.com/gp/product/B00KFAGCUM/ref=oh_aui_detailpage_o08_s00?ie=UTF8&psc=1">Crucial 512GB SSD</a> -- Actually, 4 of them in RAID10</li>
    <li><a href="http://www.amazon.com/gp/product/B009ZN2NH6/ref=oh_aui_detailpage_o08_s00?ie=UTF8&psc=1">Corsair H100i Cpu cooler</a> plus replacement <a href="http://www.amazon.com/gp/product/B00650P2ZC/ref=oh_aui_detailpage_o09_s00?ie=UTF8&psc=1">Noctura fans</a></li>
    <li><a href="http://www.amazon.com/gp/product/B00ANIRU7U/ref=oh_aui_detailpage_o05_s00?ie=UTF8&psc=1">Mionix NAOS 8200</a></li>
    <li><a href="http://www.amazon.com/Microsoft-Natural-Ergonomic-Keyboard-4000/dp/B000A6PPOK/ref=sr_1_1?ie=UTF8&qid=1428900028&sr=8-1&keywords=microsoft+ergo+keyboard">Microsoft Ergo 4000</a> -- I'd like to try mechanical keyboards, but I can't get over the shape comfort of this guy.</li>
    <li><a href="http://www.amazon.com/gp/product/B0042A8CW2/ref=oh_aui_detailpage_o09_s00?ie=UTF8&psc=1">Sennheiser HD 598</a></li>
    <li>and some <a href="http://www.amazon.com/gp/product/B00B4R77MM/ref=oh_aui_detailpage_o00_s00?ie=UTF8&psc=1">greenery</a> to spruce things up a bit</li>
</ul>

<p>
    As you can see, I'm not skimping on power in this tiny case -- but what's great about
    most of these parts is that, at low usage, the fans all turn off and the system uses
    relatively lower power. But when it's time to fire up the games I want to play, they
    <em>absolutely</em> scream.
</p>

<p>
    Finally, with a child in my life now, you can see how I went to some effort to get
    everything lifted off the ground as much as possible and zip-tied out the wazzo.
    Well, actually, you can't see almost any of the zip ties and that's rather
    on purpose. The only small mess on the left side there is 1) spare power cables
    for when I work from home and 2) an "in leg" spearker wire for when I had speakers
    mounted that aren't currently in use.
</p>

<p>
    <a href="/img/rear-view.jpg"><img alt="rear view of computer" src="/img/rear-view.jpg" /></a>
    <br /><i>Click for full size</i>
</p>

<p>
    The rear panel where the black tube lets out all the individual connections. You can
    also kinda see where I clipped a piece of the fan grating out so I could wire the
    BluRay drive in via the eSata.
</p>