---
title: "IKEA Jerker, The Best Desk Ever"
layout: post
date: 2005-05-22 00:00:00
---

<style type="text/css">

.captionedPhoto,
.captionedPhoto img,
.captionedPhoto p {
position: relative;
padding: 0;
margin: 0;
list-style: none;
font: bold 10px Verdana;
}

.captionedPhoto dd,
.captionedPhoto dt {
padding: 0; margin: 0;
}

.captionedPhoto dd,
.captionedPhoto dd p {
display: none;
z-index: 2;
}

.captionedPhoto dd {
position: absolute;
border: 3px double #fff;
}

.captionedPhoto:hover dd {
display: block;
}

.captionedPhoto:hover dd:hover {
opacity: 0.90;
-moz-opacity: 0.90;
border: 3px double #29C;
z-index: 3;
}

.captionedPhoto:hover dd:hover p {
display: block;
position: absolute;
top: -10px;
left: -10px;
white-space: pre;
}

.captionedPhoto:hover dd:hover p span {
z-index: 5;
color: #fff;
background: #000;
padding: 1px 4px;
border: 3px solid #29C;
-moz-border-radius: .75em;
}

.captionedPhoto dd#title,
.captionedPhoto dd#title p {
display: block;
background: transparent;
}

</style>

<p><small>Hover the image for descriptions of stuff on my desk.</small></p>

<dl class="captionedPhoto" style="width:700px;height:525px;">
	<dt>
		<img src="/img/desk.jpg" width="700" height="525" style="border: 1px solid #999; padding: 2px; background: #fff;">
		<p><strong>My Desk</strong></p>
	</dt>
	<dd style="top: 2px; left: 35px; width: 300px; height: 75px">
		<p><span>Server Machine</span></p>
	</dd>
	<dd style="top: 2px; left: 448px; width: 136px; height: 53px">
		<p><span>Lamp with cloth wrap </span></p>
	</dd>
	<dd style="top: 76px; left: 203px; width: 364px; height: 161px">
		<p><span>Dual 19″ gaming LCD's </span></p>
	</dd>
	<dd style="left: 583px; top: 237px; width: 80px; height: 71px">
		<p><span>The house phone </span></p>
	</dd>
	<dd style="left: 384px; top: 253px; width: 40px; height: 23px">
		<p><span>Mad money! </span></p>
	</dd>
	<dd style="left: 355px; top: 261px; width: 24px; height: 25px">
		<p><span>Microphone for CS:S </span></p>
	</dd>
	<dd style="left: 151px; top: 270px; width: 37px; height: 38px">
		<p><span>Samsung i500</span></p>
	</dd>
	<dd style="left: 391px; top: 275px; width: 33px; height: 26px">
		<p><span>Revenge of the Sith, Opening Night </span></p>
	</dd>
	<dd style="left: 300px; top: 286px; width: 35px; height: 27px">
		<p><span>Volume Knob </span></p>
	</dd>
	<dd style="left: 263px; top: 300px; width: 37px; height: 22px">
		<p><span>Projector Audio</span></p>
	</dd>
	<dd style="left: 348px; top: 300px; width: 40px; height: 21px">
		<p><span>Pen fer writin' sutff </span></p>
	</dd>
	<dd style="left: 62px; top: 293px; width: 93px; height: 86px">
		<p><span>Fidget toy... </span></p>
	</dd>
	<dd style="left: 2px; top: 314px; width: 48px; height: 60px">
		<p><span>Umbrella -- in case it rains inside</span></p>
	</dd>
	<dd style="left: 290px; top: 324px; width: 42px; height: 25px">
		<p><span>Knife</span></p>
	</dd>
	<dd style="left: 75px; top: 389px; width: 77px; height: 39px">
		<p><span>iPod Shuffle </span></p>
	</dd>
	<dd style="left: 471px; top: 412px; width: 65px; height: 48px">
		<p><span>DSL, sweet sweet DSL </span></p>
	</dd>
	<dd style="left: 13px; top: 420px; width: 52px; height: 82px">
		<p><span>Crappy old printer</span></p>
	</dd>
	<dd style="left: 136px; top: 427px; width: 52px; height: 33px">
		<p><span>Keys!</span></p>
	</dd>
	<dd style="left: 191px; top: 420px; width: 121px; height: 85px">
		<p><span>Headphones, very nice sony's</span></p>
	</dd>
	<dd style="left: 69px; top: 467px; width: 24px; height: 35px">
		<p><span>Plug for the Digicam</span></p>
	</dd>
	<dd style="left: 6px; top: 125px; width: 28px; height: 44px">
		<p><span>Projector (Joy!)</span></p>
	</dd>
</dl>

<p>&nbsp;</p>

<hr/>

<p>
    <strong>2013 Update</strong><br/>
    I'd like to point out that this desk is <em>still</em> my daily work horse.
    It has traveled around the globe with me (2.5 year stint in Sweden) and
    survived at least 5 separate moves outside of that. The surface is still in
    exceptional shape for a 9 year old desk and it's holding up great. I've only
    recently noticed that the screws are starting to have worn-down threads.
    I'm loathe to think that I might have to find a replacement for this modern
    marvel should these screws ever actually fail me.
</p>

<p><img alt="Updated desk picture" src="/img/desk-2013.jpg" /></p>

<p>
    All in all, this is the best desk I've ever owned, and if you can ever find
    one on craiglist, buy it. This desk is so good it falls under the same
    lamentable category of "Why did they cancel FireFly?!"
</p>