---
title: "Please, think of the children (and AOL)"
layout: post
date: 2007-07-29 00:00:00
---

<p>
    I've been very on the fence about net neutrality for a while now, but I
    think I'm ending up on the "must have" side of things. I think I'm falling
    into that category because it is what makes the Internet great.
</p>

<p>
    I recently read about a guy's experience trying to remove himself --
    completely -- from facebook. That was the boring part, instead the
    interesting part is <strong>why</strong> he wanted to do it. I've seen the
    motivation hinted at a few times here and there, and small ruminations of it
    coming back up.
</p>

<p>
    <img src="/img/this-is-the-internet.png" alt="The interwebs" style="float: right; margin: 0 0 10px 10px">
    In this world of Web 2.0 and large community "social networking" sites, it
    has become a very 'in-thing' to entrust your network, your photos, your
    stories, your communications, your e-life and large portions of your real
    life to these ginourmous, usually faceless entities. And they make it so
    easy: They're slick, they work, they're fast and fluid and they enable you
    to share with all your friends when you or they aren't tech savvy enough to
    setup your own websites with interlocking <span class="caps">RSS</span>
    feeds. However, this is not what the Internet is. This isn't what it was
    meant to be. <strong>The Internet is the end points, not the singular.</strong>
</p>

<p>
    The greatest thing about the Internet is that you can hook a computer in and
    create your own territory. You needn't claim a piece of the pie, you can
    just bring your own picnic basket <em>(and retain ownership and copyright of
    your food stuffs, to extend a metaphor too far.)</em> The Internet grows
    outwards, not by grouping around a few single points. But that's what
    happens with social networks -- you totally integrate there. We're losing
    what the Internet is about by falling under one site or another's corporate,
    lawyered, and <span class="caps">TOS'</span>ed umbrella. You don't have
    freedom of speech there. You can't say what you want. Shoot, most of these
    places you give up exclusive republishing rights to your content for just
    about anything the host company wants.
</p>

<p>
    <strong>This centralized system is the anti-Internet. <span class="caps">AOL</span>
    is no better than what Facebook or MySpace strive to be -- the all-and-everything
    Internet stop for your browser.</strong> The real question is thus, <em>how
    do you keep the heart of the internet beating, while still allowing people
    to congregate in ways that social networking sites so well facilitate -- or
    is having 500 friends really just superficial fluff?</em>
</p>

<p>
    While this decision has been brewing for a while, what really drew me to it
    today was an article about a senator from Alaska saying we should
    <a href="http://commerce.senate.gov/public/index.cfm?FuseAction=PressReleases.Detail&amp;PressRelease_id=248890">install Internet filters to protect the children</a>.
    Always with the damn children...
</p>

<p>
    Not only that, but if you think this is just something light and fluffy to
    argue about, check out this article on Ars about the <a href="http://arstechnica.com/articles/culture/Deep-packet-inspection-meets-net-neutrality.ars/2">companies selling DPI (Deep Packet Inspection) devices today</a>,
    and exactly <a href="http://arstechnica.com/articles/culture/Deep-packet-inspection-meets-net-neutrality.ars/3">how this plays into net neutrality</a>.
</p>