{{ partial "header.html" . }}

<section>
    <div class="eight columns">
        <h1 class="post_title">Hello.</h1>
        <p>Take a read...</p>
        <ul>
            {{ range (where .Site.Pages "Section" "blog") }}{{ range .Pages }}
            <li class="post-item">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a> <small>({{ .Date.Format .Site.Params.DateForm }})</small>
            </li>
            {{ end }}{{ end }}
        </ul>
    </div>
    <br class="clear" />
</section>

{{ partial "footer.html" . }}