{{ partial "header.html" . }}

<section>
    <div class="eight columns">

        <h1 class="post_title">{{ if .Params.heading }}{{ .Params.heading }}{{ else }}{{ .Title }}{{ end }}</h1>
        <a href="/archive.html"><span class="post_date">{{ .Date.Format "Jan. 02" }}</span></a>

        {{ .Content }}

        <div class="metadata">
            <span><i class="icon-time"></i>{{ .Date.Format "2006-01-02" }}</span>
        </div>
    </div>
    <br class="clear" />
</section>

{{ partial "footer.html" . }}