<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ if eq $url "/" }}
    {{ .Site.Title }}
{{ else }}
    {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
{{ end }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/combined.css?{{ now.Unix }}">
    <link rel="shortcut icon" href="/img/favicon.png">
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

    <header>
        <h1 class="logo"><a href="/"><span>Jeff Minard</span></a></h1>
        <div class="menubutton" id="menubutton"><i class="icon-menu"></i></div>
        <nav id="sitenav">
            <ul>
            {{ range (where .Site.Pages.ByDate "Params.menu" "=" "main") }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
            </ul>
        </nav>
        <br class="clear" />
    </header>
