---
title: "Resume"
layout: page
menuOrder: 3
---

    <div class="five columns">

        <div class="project">

            <h2>Project Skills</h2>

            <ul>
                <li>Lead and participate in Agile development patterns like Scrum and Kanban</li>
                <li>Design and implement scalable LAMP architecture</li>
                <li>Architect database designs and optimize applications with MySQL</li>
                <li>Manage and integrate with 3rd party API systems (REST, Soap, etc)</li>
                <li>Coordinate outsourcing and act as project manager</li>
            </ul>

        </div>

        <div class="exp">

            <h2>Experience</h2>

            <p class="desc"><strong>Lead Architect</strong>
            <em>Credit Karma Inc.</em> 2010-present</p>
            <p>Implement new features in PHP (as well as frontend html+js), consult on feature planning, scale web services, optimize architecture, interface with external partners, and a myriad of other tasks at this successful web finances start up.</p>

            <p class="desc"><strong>Web Producer</strong>
            <em>Digital Illusions CE AB</em> 2007-2010</p>
            <p>A jack-of-all-trades employee responsible for successful design, implementation, and delivery of the Battlefield Heroes website experience.</p>

            <p class="desc"><strong>Senior Technical Producer</strong>
            <em>CNET Networks, Help.com</em> 2005-2007</p>
            <p>I transformed Help.com from a static unmaintained website into a thriving community website of over 25,000 members. I handled programming, development, user evangelism, server administration and design for the majority of project. As of 2011-07, the site continues to run under my code base and now sports more than 500,000 users and as many topics.</p>

            <p class="desc"><strong>Web Master</strong>
            <em>Youth Outlook! Magazine</em> 2004-2005</p>
            <p>I played a key role in the development and expansion of a highly dynamic and rapidly growing web site by producing video, audio, and other multimedia applications which were deployed in conjunction with weekly story updates.</p>

            <p class="desc"><strong>Web Development Intern</strong>
            <em>PBHS Web Design</em> Summer 2002</p>
            <p>While interning at this company, my responsibilities included Flash work, HTML editing, content creation, programming, systems administration, and search engine optimization.</p>

            <p class="desc"><strong>Web Developer/Customer Support</strong>
            <em>Internet Magic</em> 2000-2002</p>
            <p>Beginning as Technical Support, I advanced to the position of Web Developer in 6 short months. My responsibilities included programming, design, layout, content creation, and project management for client and company.</p>

            <p class="desc"><strong>Technical Support</strong>
            <em>AccessPort ISP</em> Summer 1996</p>
            <p>My main role at this Santa Rosa ISP was Phone Technical Support. Along with trouble-shooting for customers over the phone, I was responsible for some of the computer and network maintenance around the office.</p>

        </div>

        <div class="personal">

            <h2>Personal Projects</h2>

            <p class="desc"><strong><a href="http://steamalerts.com/">SteamAlerts</a></strong> 20011-Present</p>

            <p>Tired of missing out on good deals at Steam, I created a website which queries steam for prices on a regular basis and emails users when a game they want drops below a price they set.</p>

            <p class="desc"><strong>BF2S</strong> 2005-2014</p>

            <p>The leading Battlefield 2 stat tracking website, I built this entire experience myself using PHP, MySQL, and a few other pieces of tech. I also built the physical server myself, performed the linux setup and maintenance and took part in leading the community forums. While I started BF2S as a hobby project, it grew to a 10 million page views per month site. The project was retired at the very end of 2013.</p>

        </div>

    </div>


    <div class="three columns">

        <div class="tech">
            <h2>Technical Skills</h2>
            <ul>
                <li>PHP (OOP, MVC)</li>
                <li>HTML</li>
                <li>CSS/SASS</li>
                <li>JavaScript</li>
                <li>MySQL/Clustering/Sharding</li>
                <li>Application Security</li>
                <li>Photoshop</li>
                <li>MS Office</li>
                <li>Linux/Windows/OSX</li>
            </ul>
        </div>

        <div class="edu">

            <h2>Education</h2>

            <p>
                <em>2002-2005</em><br/>
                <strong>B.S. in Multimedia &amp; Web Design</strong><br/>
                The Art Institute of California - San Francisco
            </p>

            <p>
                <em>2001-2002</em><br/>
                <strong>Certification</strong> <br/>
                Santa Rosa Junior College
            </p>

            <ul>
                <li>Web Development Career Certification</li>
                <li>HTML Certification</li>
                <li>Dreamweaver Certification</li>
                <li>Photoshop Certification</li>
            </ul>

        </div>

    </div>




