
	<section>
		<div class="eight columns">
			<h4 class="post_title"><a href="single-post.html">Post title</a></h4>
			<a href="archive.html"><span class="post_date">Post date</span></a>

			<p>Text here</p>

			<blockquote>Blockquote here</blockquote>

			<a href="single-post.html"><button class="float_right">READ MORE</button></a>

		</div>
		<br class="clear" />
	</section>

	<section class="quote">
		<p>Quote here
		<span class="author">Quote author</span></p>
	</section>


	<div class="post_video">
		<iframe src="http://player.vimeo.com/video/25708134?title=0&amp;byline=0&amp;portrait=0" width="1200" height="675" frameborder="0"></iframe>
	</div>
	<section>
		<div class="eight columns">
			<h4 class="post_title"><a href="single-post.html">Video post</a></h4>
			<a href="archive.html"><span class="post_date">Post date</span></a>

			<p>Text here.</p>

			<a href="single-post.html"><button class="float_right">READ MORE</button></a>

			</div>
		<br class="clear" />
	</section>

	<div class="pagination">
		<button class="light"><i class="icon-chevron-left"></i></button>
		<button class="light">1</button>
		<button>2</button>
		<button class="light">3</button>
		<button class="light">4</button>
		<button class="light">5</button>
		<button class="light">6</button>
		<button class="light"><i class="icon-chevron-right"></i></button>
	</div>